.voice-table {
	display: block;
	width: 100%;
	margin-top: 30px;
}

.voice-table-heading {
	background-color: #ddd;
	border: 1px solid #ccc;
}

.voice-table-heading h2 {
	font-size: 22px;
	text-align: center;
	width: 100%;
	margin: 20px 0;
	color: #00599d;
	font-weight: 800;
	text-transform: uppercase;
}

.voice-table-content {
	display: block;
	width: 100%;
}

.voice-table-left {
	float: left;
	width: 50%;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.voice-table-right {
	float: right;
	width: 50%;	
	border-right: 1px solid #ccc;
}

.voice-table-right h2, .voice-table-left h2 {
	text-align: center;
	font-size: 14px;
	font-weight: 800;
	display: block;
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 10px 0;
	color: #00599d;
}

.voice-table-item {
	border-bottom: 1px solid #ccc;
	padding: 8px 0 0 15px;
}

.voice-table-item.even {
	background-color: #ddd;
}

.voice-table-item.odd {
	background-color: #e9e9e9;
}

.voice-table-item audio {
	opacity: 0.3;
}

audio:hover {
	opacity: 0.6;
}

@media (max-width: 950px) {
	.voice-table-right, .voice-table-left { float: none; width: 100%; }
	.voice-table-right { border-left: 1px solid #ccc; }
}